XBottomSheet.Touch/bin/*
XBottomSheet.Touch/obj/*
.vs/*
XBottomSheet.Droid/bin/*
XBottomSheet.Droid/obj/*
.vs/*
XBottomSheet.Droid/Resources/Resource.Designer.cs
XBottomSheet.Droid/XBottomSheet.Droid.csproj.user
XBottomSheet.Touch/XBottomSheet.Touch.csproj.user
